* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

body {
  background-color: whitesmoke;
}

.body-black {
  background-color: rgb(16, 15, 15);
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.order {
  order: -1 !important;
  transform: scale(1.01);
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
}

.search-text {
  color: rgb(221, 177, 17) !important;
}

@keyframes show {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  flex-direction: column;
  gap: 13px;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  margin: 15% auto;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
  box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
  transition: all 0.3s ease-in-out;
  animation-name: form-color-animate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.login:hover {
  animation-name: form-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes form-animate {
  0% {
    box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
  }
  50% {
    box-shadow: 0px 0px 70px 5px rgb(218, 218, 218);
  }
  100% {
    box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
  }
}
@keyframes form-color-animate {
  0% {
    box-shadow: 0px 0px 20px -5px rgba(17, 46, 141, 0.4);
  }
  30% {
    box-shadow: 0px 0px 20px -5px rgba(197, 87, 8, 0.4);
  }
  60% {
    box-shadow: 0px 0px 20px -5px rgba(7, 41, 113, 0.4);
  }
  90% {
    box-shadow: 0px 0px 20px -5px rgba(69, 41, 151, 0.4);
  }
  100% {
    box-shadow: 0px 0px 20px -5px rgba(17, 46, 141, 0.4);
  }
}
.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 3px;
  padding: 10px 20px 0px 10px;
  width: 100%;
}
.login__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(75, 75, 75);
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 0px 0px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login__input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 2px 3px 2px 5px;
  background-color: whitesmoke;
  font-family: "Open Sans";
  font-size: 14px;
}
.login__icons {
  position: absolute;
  right: 30px;
  top: 38px;
  color: rgb(69, 69, 69);
}
.login label {
  font-family: "Open Sans";
  font-size: 15px;
  color: rgb(97, 95, 95);
}
.login__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(95, 78, 146);
  color: white;
}
.login__button:hover {
  opacity: 0.8;
}
.login__button:active {
  opacity: 1;
}
.login__button-span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

@media (max-width: 500px) {
  .login {
    margin: 30% auto;
  }
}
.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: start;
  justify-content: space-between;
}
.dashboard__left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  background-color: rgb(35, 36, 45);
  min-height: 100vh;
}
.dashboard__left-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 10px;
}
.dashboard__left-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  width: 100%;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
}
.dashboard__left-boxes:hover {
  background-color: rgba(127, 127, 127, 0.088);
  cursor: pointer;
}
.dashboard__left-icons {
  width: 20px;
  height: 20px;
  color: white;
}
.dashboard__left-bottom-exit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  justify-content: end;
  padding: 10px;
  height: 100px;
}
.dashboard__left-bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgb(97, 42, 42);
  padding: 3px;
  border-radius: 4px;
  border: 1px solid red;
  opacity: 0.4;
}
.dashboard__left-bottom-box:hover {
  cursor: pointer;
  opacity: 0.7;
}
.dashboard__left-bottom-text {
  font-family: "Open Sans";
  color: red;
}
.dashboard__title {
  flex-grow: 1;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  text-align: start;
}
.dashboard__left-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 20px 10px;
}
.dashboard__left-img {
  height: 70px;
  border-radius: 50px;
}
.dashboard__center-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.dashboard__left-text {
  font-family: "Open Sans";
  color: rgb(224, 224, 224);
  font-size: 17px;
}
.dashboard__left-sub-text {
  font-family: "Open Sans";
  color: rgb(194, 194, 194);
  font-size: 14px;
}
.dashboard__left-name {
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
}
.dashboard__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  flex-grow: 1 !important;
  padding: 5px 20px 5px 5px;
  gap: 10px;
}
.dashboard__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}
.dashboard__navbar-name {
  color: rgb(16, 15, 15);
  font-size: 14px;
}
.dashboard .name-white {
  color: white;
}
.dashboard__search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.dashboard__navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__search {
  border: none;
  padding: 10px 10px 10px 5px;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  background-color: rgb(248, 248, 248);
  outline: none;
  box-shadow: 0px 0px 10px -3px rgb(176, 176, 176);
  font-family: "Open Sans";
  min-width: 200px;
}
.dashboard__navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dashboard__navbar-img {
  border-radius: 50px;
}
.dashboard__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: center;
  padding: 10px 0px 5px 10px;
}
.dashboard__top-icon {
  transition: all 0.2s ease-in-out;
  transform: rotate(180deg);
}
.dashboard .rotate {
  transform: rotate(0deg);
}
.dashboard .left-name {
  font-size: 12px;
}
.dashboard .just-center {
  justify-content: center;
}
.dashboard .left-boxes {
  justify-content: center;
  padding: 20px 0px;
  width: 60px;
}
.dashboard .top {
  align-items: start;
  width: 80px;
  padding: 10px 0px 0px;
}
.dashboard .top svg {
  width: 45px;
}
.dashboard .title {
  font-size: 11px;
  padding: 5px 5px 0px 5px;
  text-align: center;
  width: auto;
  display: flex;
}
.dashboard__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  justify-content: start;
}

@media (max-width: 600px) {
  .dashboard__top-icon {
    display: none;
  }
  .dashboard__top {
    justify-content: center;
    padding: 10px 0px;
  }
  .dashboard__left-bottom {
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .dashboard__search {
    max-width: none;
    width: 100%;
    min-width: none !important;
  }
  .dashboard__left-sub-text {
    display: none;
  }
  .dashboard__left-name {
    font-size: 12px;
  }
  .dashboard__navbar {
    flex-wrap: wrap-reverse;
    justify-content: end;
  }
  .dashboard__title {
    font-size: 11px;
    padding: 10px 5px 0px 5px;
    text-align: center;
    width: auto;
    display: flex;
  }
  .dashboard__left-img {
    width: 40%;
    height: 40%;
  }
  .dashboard__left-center {
    gap: 10px;
    display: none;
  }
  .dashboard__left-text {
    display: none;
  }
  .dashboard__left-bottom-exit {
    max-height: 450px;
    justify-content: center;
    padding: 0px;
    width: auto;
  }
  .dashboard__left-bottom-text {
    display: none;
  }
  .dashboard__left-boxes {
    justify-content: center;
    padding: 20px 0px;
    width: 90% !important;
    height: 50px;
  }
  .dashboard__left {
    height: 100%;
    width: 50px !important;
    max-width: none;
    align-items: center;
  }
}
.users {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width: 100%;
  padding: 20px 20px 20px 5%;
  justify-content: space-between;
}
.users__title {
  font-family: "Open Sans";
  font-weight: 900;
  color: rgb(16, 15, 15);
}
.users__arrow {
  transition: all 0.3s ease-in-out;
}
.users__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
.users__top-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  color: rgb(16, 15, 15);
}
.users__loader {
  position: absolute;
  right: -50px;
  top: 5px;
}
.users__card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
  max-width: 1000px;
}
.users__card-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-bottom: 2px solid rgb(138, 138, 138);
  padding: 10px;
  width: 100%;
  justify-content: start;
  order: -3 !important;
}
.users__add {
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: rgb(46, 57, 84);
  padding: 2px;
  border-radius: 4px;
  color: white;
}
.users__add:hover {
  opacity: 0.8;
}
.users__add:active {
  opacity: 1;
}
.users__des {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-family: "Open Sans";
  color: rgb(16, 15, 15);
  width: 130px;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 120px;
  font-size: 13px;
}
.users .user-name {
  text-transform: capitalize;
}
.users__des::-webkit-scrollbar {
  display: none;
}
.users__action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 9px;
  bottom: -5px;
  padding: 1px;
  gap: 5px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
}
.users__view {
  border: none;
  width: 100%;
  padding: 3px 5px;
  border-radius: 2px;
  font-family: "Open Sans";
  font-size: 11px;
  color: white;
}
.users__view:hover {
  opacity: 0.8;
}
.users__view:active {
  opacity: 1;
}
.users__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
  gap: 3px;
  z-index: 3;
}
.users__action-dot:hover {
  opacity: 0.8;
}
.users__action-dot:active {
  opacity: 1;
}
.users .users-view {
  background-color: rgb(68, 168, 226);
  border: 1px solid rgb(94, 94, 236);
}
.users .users-edit {
  background-color: rgb(255, 145, 0);
  border: 1px solid rgb(255, 68, 0);
}
.users .users-delete {
  background-color: rgb(241, 119, 119);
  color: rgb(221, 20, 20);
  border: 1px solid rgb(177, 40, 40);
}
.users__items-top-name {
  font-family: "Open Sans";
  text-transform: capitalize;
  color: rgb(16, 15, 15);
}
.users__id, .users__id-second {
  background-color: rgb(52, 113, 192);
  padding: 0px 4px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}
.users__id {
  padding: 3px 3px !important;
}
.users__items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}
.users .items-black {
  background-color: rgb(42, 44, 58) !important;
}
.users__items-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  display: none;
}
.users__items-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.users__items-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
  width: 150px;
  display: none;
}
.users__items-bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 25px;
  padding: 10px;
  width: 100%;
  justify-content: start;
}
.users .arrow-rotate {
  transform: rotate(180deg);
}
.users__id-second {
  display: none;
}
.users__change {
  width: 100%;
}
.users__change-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  background-color: rgba(63, 67, 94, 0.6);
  border: 1px solid rgb(27, 118, 112);
  padding: 30px 20px 20px 20px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5 !important;
}
.users__change-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.users__change-label {
  font-family: "Open Sans";
  color: rgb(201, 199, 199);
}
.users__change-input {
  font-family: "Open Sans";
  outline: none;
  padding: 5px;
  border: none;
  width: 100%;
  min-width: 230px;
  border-radius: 5px;
  border: 1px solid rgb(27, 118, 112);
  background-color: rgba(52, 113, 192, 0.165);
  color: white;
}
.users__change-title {
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
  font-weight: 700;
  max-width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
}
.users__change-title::-webkit-scrollbar {
  display: none;
}
.users__change-button {
  font-family: "Open Sans";
  border: none;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 2px;
  background-color: rgb(42, 162, 42);
  color: white;
}
.users__change-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}
.users__change-exit {
  color: rgb(179, 178, 178);
  position: absolute;
  top: 3px;
  left: 2px;
  width: 20px;
}
.users__new {
  width: 100%;
}
.users__new-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(63, 67, 94, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgb(27, 118, 112);
  gap: 8px;
}
.users__new-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.users__new-close {
  position: absolute;
  top: -25px;
  left: -15px;
  color: rgb(179, 178, 178);
  width: 20px;
}
.users__change-span-id {
  overflow: auto;
  width: 100%;
}
.users__new-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
.users__new-input {
  border: 1px solid rgb(27, 118, 112);
  background-color: rgba(52, 113, 192, 0.165);
  border-radius: 4px;
  outline: none;
  padding: 4px 2px;
  font-family: "Open Sans";
  font-size: 14px;
  width: 100%;
  min-width: 230px;
  color: white;
}
.users__new-button {
  border: none;
  padding: 4px;
  border-radius: 2px;
  font-family: "Open Sans";
  font-size: 14px;
  background-color: rgb(42, 162, 42);
  color: white;
}
.users__show-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  gap: 5px;
  order: -3;
}

@keyframes show-des {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}
@media (max-width: 1100px) {
  .users {
    padding: 10px;
  }
  .users__add {
    top: -25px;
  }
  .users__id {
    display: none;
  }
  .users__id-second {
    display: inline;
  }
  .users__items-top {
    display: flex;
  }
  .users__items-bottom-left {
    display: flex;
  }
  .users__items-bottom-right {
    flex-direction: column;
    gap: 10px;
    border: none;
  }
  .users__card-boxes {
    display: none;
  }
  .users__des {
    width: auto;
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  .users {
    height: auto;
  }
  .users__change-form {
    padding: 15px 10px 15px 10px;
  }
  .users__change-label {
    font-size: 12px;
  }
  .users__change-title {
    font-size: 12px;
    max-width: 150px;
  }
  .users__change-exit {
    width: 16px;
    top: 1px;
    left: 1px;
  }
  .users__change-input {
    min-width: 100px;
  }
  .users__des {
    font-size: 10px;
  }
  .users__items-bottom {
    gap: 5px;
  }
  .users__items-bottom-left {
    width: 120px;
  }
}/*# sourceMappingURL=style.css.map */