*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$black: rgb(16, 15, 15);
.wrapper {
  width: 100%;
}

body {
  background-color: whitesmoke;
}

.body-black {
  background-color: $black;
}


.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

// .flex {
//   display: flex;
// }



