*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

body {
  background-color: whitesmoke;
}


.none {
  display: none !important;
}

// .flex {
//   display: flex;
// }