*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$black: rgb(16, 15, 15);
.wrapper {
  width: 100%;
}

body {
  background-color: whitesmoke;
}

.body-black {
  background-color: $black;
}


.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}
.order {
  order: -1 !important;
  transform: scale(1.01);
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
}

.search-text {
  color: rgb(221, 177, 17) !important;
}
@keyframes show {
  0%{
    transform: translateY(-10px);
  }100%{
    transform: translateY(0px);
  }
}

// .flex {
//   display: flex;
// }



