.login {
  @include display();
  width: 95%;
  flex-direction: column;
  gap: 13px;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  margin: 15% auto;
  border-radius: 5px;
  // border-top: 5px solid rgb(76, 147, 182);
  padding: 0px 0px 20px 0px;
  box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
  transition: all 0.3s ease-in-out;
  animation-name: form-color-animate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  &:hover {
    animation-name: form-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
  }

  @keyframes form-animate {
    0%{
      box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
    }50%{
      box-shadow: 0px 0px 70px 5px rgb(218, 218, 218);
    }100%{
      box-shadow: 0px 0px 20px -3px rgb(196, 195, 195);
    }
  }

  @keyframes form-color-animate {
    0%{
      box-shadow: 0px 0px 20px -5px rgba(17, 46, 141, 0.4);
    }30%{
      box-shadow: 0px 0px 20px -5px rgba(197, 87, 8, 0.4);
    }60%{
      box-shadow: 0px 0px 20px -5px rgba(7, 41, 113, 0.4);
    }90%{
      box-shadow: 0px 0px 20px -5px rgba(69, 41, 151, 0.4);
    }100%{
      box-shadow: 0px 0px 20px -5px rgba(17, 46, 141, 0.4);
    }
  }

  &__box {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    padding: 10px 20px 0px 10px;
    width: 100%;
  }

  &__title {
    @include display();
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(75, 75, 75);
    width:100%;
    // background-color: rgb(228, 41, 28);
    margin-bottom: 10px;
    padding: 20px 0px 0px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 2px 3px 2px 5px;
    background-color: whitesmoke;
    font-family: "Open Sans";
    font-size: 14px;
  }

  &__icons{
    position: absolute;
    right: 30px;
    top: 38px;
    color: rgb(69, 69, 69);
  }

  label {
    font-family: "Open Sans";
    font-size: 15px;
    color: rgb(97, 95, 95);
  }

  &__button {
    @include hover();
    @include display();
    width: 95%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(95, 78, 146);
    color: white;
  }

  &__button-span {
    @include display();
    // display: none;
    height: 30px;
  }
}


@media (max-width: 500px){
  .login {
    margin: 60% auto;
  }

}