.products {
  // background-color: red;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;

  &__des {
    width: 130px;
  }

  &__card-boxes {
    justify-content: start;
    // padding: 0px;
  }

  &__card-items {
    @include display();
    flex-direction: column;
    align-items: start;
    padding: 10px 10px 10px 0px;
    gap: 20px;
  }

  &__name {
    margin-right: 23px;
  }

  &__items {
    @include display();
    gap: 15px;
    justify-content: start;
    align-items: start;
    width: 100%;
    // background-color: rgb(240, 240, 240);
    background-color: rgba(224, 224, 224, 0.549);
    border-radius: 4px;
    box-shadow: 0px 0px 10px -4px rgb(189, 189, 189);
    padding: 10px;
    flex-wrap: wrap;
    & img {
      width: 40px;
    }
  }

  &__items-text {
    font-family: "Open Sans";
    // font-size: 15px;
    width: 130px;
    font-size: 15px;;
    color: $black;
  }

  &__price {
    color:green;
  }

  &__rate {
    @include display();
    gap: 3px;
    justify-content: start;
    & svg {
      color: rgb(255, 221, 0);
    }
  }

  &__card-title {
    font-size: 13px;
    width: 100px;
    font-weight: 500;
  }
}


@media (max-width: 500px) {
  .products {
    &__card-title {
      width: 60%;
    }
  }
}