.users {  
  @include display();
  flex-direction: column;
  align-items: start;
  gap: 50px;
  // background-color: red;
  width:100%;
  padding: 20px 20px 20px 5%;

  &__title {
    font-family: "Open Sans";
    font-weight: 900;
    color: $black;
  }

  &__top {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  &__top-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;

  }

  &__card {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    // background-color: black;
    width:100%;
    max-width: 1000px;
  }

  &__card-boxes {
    @include display();
    gap: 25px; // change
    border-bottom: 2px solid rgb(138, 138, 138);
    padding: 10px; // change;
    width:100%;
    justify-content: start;
  }

  &__des {
    font-family: "Open Sans";
    color: $black;
    width: 130px;
    // background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__des::-webkit-scrollbar{
    display: none;
  }

  &__action {
    @include display();
    position: absolute;
    right: 30px;
    bottom: -65px;
    padding: 1px;
    // background-color: red;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  &__view {
    border: none;
    width:100%;
    padding: 3px 5px;
    border-radius: 2px;
    font-family: "Open Sans";
    font-size: 13px;
    color: white;
    // border: 1px solid rgb(0, 0, 0);
  }

  &__box {
    @include display();
    flex-direction: column;
    gap: 3px; 
  }

  &__action-dot {
    @include hover();
  }

  .users-view {
    background-color: rgb(68, 168, 226);
  }

  .users-edit {
    background-color: rgb(255, 145, 0);
  }

  .users-delete {
    background-color: rgb(241, 119, 119);
    color: rgb(221, 20, 20);
    border: 1px solid rgb(177, 40, 40)
  }

  &__items-top-name {
    font-family: "Open Sans"
  }

  &__items {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    width:100%;
    // background-color: red
  }

  &__items-top {
    @include display();
    // background-color: red;
    border-bottom: 1px solid;
    padding: 10px;
    justify-content: space-between;
    width:100%;
    display: none; // change
  }

  &__items-bottom {
    @include display();
    gap: 10px;
    border-bottom: 1px solid ;  
    width:100%;
    justify-content: start;
    border: none; // change;
    // background-color: red
    // background-color: black
  }

  &__items-bottom-left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 150px;
    display: none; // change
  }

  &__items-bottom-right {
    @include display();
    // flex-direction: column; // change
    align-items: start;
    gap: 25px;
    border-bottom: 1px solid gray; // change
    padding: 10px; // change
    width:100%;
    justify-content: start;
  }
}

@keyframes show-des {
  0%{
    transform: translateX(0px);
  }100%{
    transform: translateX(100%);
  }
}


@media (max-width: 1100px) {
  .users {
    padding: 10px;

    &__items-top {
      display: flex;
    }

    &__items-bottom-left {
      display: flex;;
    }
    &__items-bottom-right {
      flex-direction: column;
      gap: 10px;
      border: none;
    }

    &__card-boxes {
      display: none;
    }

    &__des {
      width: auto;
    }
  }

  .main {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .users {
    &__des {
      font-size: 12px;
    }

    &__items-bottom {
      gap: 5px;
    }

    &__items-bottom-left {
      width: 120px;
    }
  }
}