.users {  
  @include display();
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width:100%;
  padding: 20px 20px 20px 5%;
  justify-content: space-between;
  &__title {
    font-family: "Open Sans";
    font-weight: 900;
    color: $black;
  }

  &__arrow {
    transition: all 0.3s ease-in-out;
  }

  &__top {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  &__top-text {
    @include display();
    gap: 3px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }
  &__loader {
    position: absolute;
    right: -50px;
    top: 5px;
  }

  &__card {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width:100%;
    max-width: 1000px;
  }

  &__card-boxes {
    @include display();
    gap: 25px; // change
    border-bottom: 2px solid rgb(138, 138, 138);
    padding: 10px; // change;
    width:100%;
    justify-content: start;
  }

  &__des {
    font-family: "Open Sans";
    color: $black;
    width: 130px;
    // background-color: rgb(126, 105, 105);
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 120px;
    font-size: 13px;
  }

  .user-name {
    text-transform: capitalize;
  }

  &__des::-webkit-scrollbar{
    display: none;
  }

  &__action {
    @include display();
    position: absolute;
    right: 9px;
    bottom: -5px;
    padding: 1px;
    // background-color: red;
    gap: 5px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
  }

  &__view {
    @include hover();
    border: none;
    width:100%;
    padding: 3px 5px;
    border-radius: 2px;
    font-family: "Open Sans";
    font-size: 11px;
    color: white;
    // border: 1px solid rgb(0, 0, 0);
  }

  &__box {
    @include display();
    position: relative;
    top: 5px;
    // flex-direction: ;
    gap: 3px; 
    z-index: 3
  }

  &__action-dot {
    @include hover();
  }

  .users-view {
    background-color: rgb(68, 168, 226);
    border: 1px solid rgb(94, 94, 236);
  }

  .users-edit {
    background-color: rgb(255, 145, 0);
    border: 1px solid rgb(255, 68, 0);
  }

  .users-delete {
    background-color: rgb(241, 119, 119);
    color: rgb(221, 20, 20);
    border: 1px solid rgb(177, 40, 40)
  }

  &__items-top-name {
    font-family: "Open Sans";
    text-transform: capitalize;
    color: $black;
  }

  &__items {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    width:100%;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    // background-color: red
  }
  
  .items-black {
    background-color: rgb(42, 44, 58) !important;
  }

  &__items-top {
    @include display();
    // background-color: red;
    // border-bottom: 1px solid gray;
    padding: 10px;
    justify-content: space-between;
    width:100%;
    display: none; // change
  }

  &__items-bottom {
    @include display(); 
    width:100%;
  }

  &__items-bottom-left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 150px;
    display: none; // change
  }

  &__items-bottom-right {
    @include display();
    // flex-direction: column; // change
    align-items: start;
    gap: 25px;
    // border-bottom: 1px solid gray; // change
    padding: 10px; // change
    width:100%;
    justify-content: start;
  }

  .arrow-rotate {
    transform: rotate(180deg);
  }

}

@keyframes show-des {
  0%{
    transform: translateX(0px);
  }100%{
    transform: translateX(100%);
  }
}


@media (max-width: 1100px) {
  .users {
    padding: 10px;
    &__items-top {
      display: flex;
    }

    &__items-bottom-left {
      display: flex;;
    }
    &__items-bottom-right {
      flex-direction: column;
      gap: 10px;
      border: none;
    }

    &__card-boxes {
      display: none;
    }

    &__des {
      width: auto;
      font-size: 9px;
    }
  }
}

@media (max-width: 500px) {
  .users {
    height: auto;
    &__des {
      font-size: 10px;
    }

    &__items-bottom {
      gap: 5px;
    }

    &__items-bottom-left {
      width: 120px;
    }
  }
}