.users {  
  @include display();
  flex-direction: column;
  align-items: start;
  gap: 50px;
  width:100%;
  padding: 20px 20px 20px 5%;
  justify-content: space-between;
  &__title {
    font-family: "Open Sans";
    font-weight: 900;
    color: $black;
  }

  &__arrow {
    transition: all 0.3s ease-in-out;
  }

  &__top {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  &__top-text {
    @include display();
    gap: 3px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }
  &__loader {
    position: absolute;
    right: -50px;
    top: 5px;
  }

  &__card {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width:100%;
    max-width: 1000px;
  }

  &__card-boxes {
    @include display();
    gap: 25px; // change
    border-bottom: 2px solid rgb(138, 138, 138);
    padding: 10px; // change;
    width:100%;
    justify-content: start;
    order: -3 !important;
  }

  &__add {
    @include hover();
    position: absolute;
    top: 8px;
    // top: -15px;
    right: 10px;
    background-color:rgb(46, 57, 84);
    padding: 2px;
    border-radius: 4px;
    color: white;
  }

  &__des {
    font-family: "Open Sans";
    color: $black;
    width: 130px;
    // background-color: rgb(126, 105, 105);
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 120px;
    font-size: 13px;
  }

  .user-name {
    text-transform: capitalize;
  }

  &__des::-webkit-scrollbar{
    display: none;
  }

  &__action {
    @include display();
    position: absolute;
    right: 9px;
    bottom: -5px;
    padding: 1px;
    // background-color: red;
    gap: 5px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
  }

  &__view {
    @include hover();
    border: none;
    width:100%;
    padding: 3px 5px;
    border-radius: 2px;
    font-family: "Open Sans";
    font-size: 11px;
    color: white;
    // border: 1px solid rgb(0, 0, 0);
  }

  &__box {
    @include display();
    position: relative;
    top: 5px;
    // flex-direction: ;
    gap: 3px; 
    z-index: 3
  }

  &__action-dot {
    @include hover();
  }

  .users-view {
    background-color: rgb(68, 168, 226);
    border: 1px solid rgb(94, 94, 236);
  }

  .users-edit {
    background-color: rgb(255, 145, 0);
    border: 1px solid rgb(255, 68, 0);
  }

  .users-delete {
    background-color: rgb(241, 119, 119);
    color: rgb(221, 20, 20);
    border: 1px solid rgb(177, 40, 40)
  }

  &__items-top-name {
    font-family: "Open Sans";
    text-transform: capitalize;
    color: $black;
  }

  &__id, &__id-second {
    background-color: rgb(52, 113, 192);
    padding: 0px 4px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
  }

  &__id {
    padding: 7px 3px !important;
  }

  &__items {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    width:100%;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    // background-color: red
  }
  
  .items-black {
    background-color: rgb(42, 44, 58) !important;
  }

  &__items-top {
    @include display();
    // background-color: red;
    // border-bottom: 1px solid gray;
    padding: 10px;
    justify-content: space-between;
    width:100%;
    display: none; // change
  }

  &__items-bottom {
    @include display(); 
    width:100%;
  }

  &__items-bottom-left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 150px;
    display: none; // change
  }

  &__items-bottom-right {
    @include display();
    // flex-direction: column; // change
    align-items: start;
    gap: 25px;
    // border-bottom: 1px solid gray; // change
    padding: 10px; // change
    width:100%;
    justify-content: start;
  }

  .arrow-rotate {
    transform: rotate(180deg);
  }

  &__id-second {
    display: none;
  }

  &__change {
    width:100%;
  }

  &__change-form {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width:100%;
    // position: absolute;
    // top: 35vh;
    // left: 44vw;
    // right: 100vw;
    background-color: rgba(63, 67, 94, 0.6);
    border: 1px solid rgb(27, 118, 112);
    padding:30px 20px 20px 20px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    z-index: 5 !important;
  }

  &__change-box {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  &__change-label {
    font-family: "Open Sans";
    color: rgb(201, 199, 199);
  }

  &__change-input {
    font-family: "Open Sans";
    outline: none;
    padding: 5px;
    border: none;
    width:100%;
    min-width: 230px;
    border-radius: 5px;
    border: 1px solid rgb(27, 118, 112);
    background-color: rgba(52, 113, 192, 0.165);
    color: white;
  }
  &__change-title {
    font-family: "Open Sans";
    font-size: 20px;
    color:white;
    font-weight: 700;
    max-width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__change-title::-webkit-scrollbar {
    display: none;
  }
  &__change-button {
    font-family: "Open Sans";
    border: none;
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 2px;
    background-color: rgb(42, 162, 42);
    color: white;
  }

  &__change-top {
    @include display();
    width:100%;
    justify-content: space-between;
  }

  &__change-exit {
    color: rgb(179, 178, 178);
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
  }

  &__new {
    width:100%;
  }

  &__new-form {
    @include display();
    flex-direction: column;
    align-items: start;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    width:100%;
    background-color: rgba(63, 67, 94, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(27, 118, 112);
    gap: 8px;
    // display: flex !important;
  }

  &__new-top {
    @include display();
    position: relative;
    justify-content: space-between;
    width:100%;
    gap: 10px;
  }

  &__new-close {
    position: absolute;
    top: -25px;
    left: -15px;
    color: rgb(179, 178, 178);
    width:20px;
  }

  &__change-span-id {
    overflow: auto;
    width: 100%;
    // background-color: red
  }

  &__new-box {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 3px;
    // width:100%;
  }

  &__new-input {
    border: 1px solid rgb(27, 118, 112);
    background-color: rgba(52, 113, 192, 0.165);
    border-radius: 4px;
    outline: none;
    padding: 4px 2px;
    font-family: "Open Sans";
    font-size: 14px;
    width:100%;
    min-width: 230px;
    color: white;
  }
  &__new-button {
    border: none;
    padding: 4px;
    border-radius: 2px;
    font-family: "Open Sans";
    font-size: 14px;
    background-color: rgb(42, 162, 42);
    color: white;
  }

  &__show-box {
    @include display();
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    gap: 5px;
    order: -3;
  }

}

@keyframes show-des {
  0%{
    transform: translateX(0px);
  }100%{
    transform: translateX(100%);
  }
}


@media (max-width: 1100px) {
  .users {
    padding: 10px;

    &__add {
      top: -25px;
    }
    &__id {
      display: none;
    }

    &__id-second{
      display: inline;
    }
    &__items-top {
      display: flex;
    }

    &__items-bottom-left {
      display: flex;;
    }
    &__items-bottom-right {
      flex-direction: column;
      gap: 10px;
      border: none;
    }

    &__card-boxes {
      display: none;
    }

    &__des {
      width: auto;
      font-size: 9px;
    }

    
  }
}

@media (max-width: 500px) {
  .users {
    height: auto;

    &__change-form {
      padding:15px 10px 15px 10px;
    }

    &__change-label {
      font-size: 12px;
    }
    &__change-title {
      font-size: 12px;
      max-width: 150px;
    }

    &__change-exit {
      width:16px;
      top: 1px;
      left: 1px;
    }

    &__change-input {
      min-width:100px;
    }
    &__des {
      font-size: 10px;
    }

    &__items-bottom {
      gap: 5px;
    }

    &__items-bottom-left {
      width: 120px;
    }
  }
}